/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");

:root {
  --bg-color: white;
  --font-color-red: red;
  --font-color-blue: blue;
  --you-may-like-songs-color: blue;
  --ludsocials-color-blue: yellow;
  --font-color-heading: #1abc9c;
  --ludsocials-color-heading: green;
  --font-color-heading2: #1abc9c;
  --font-color-sub-heading: #d35400;
  --font-color-christmas_message: violet;
  --lyrics-text-color: red;
  --yml-btn: #1abc9c;
  --rate-song-btn: #9400d3;
  --grey: black;
  font-family: "Roboto", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  --bg-image: url("/images/light-bg.png");
}

.darkMode {
  --bg-color: white;
  --font-color-red: red;
  --font-color-blue: blue;
  --you-may-like-songs-color: red;
  --ludsocials-color-blue: yellow;
  --font-color-heading: #1abc9c;
  --ludsocials-color-heading: green;
  --font-color-heading2: #1abc9c;
  --font-color-sub-heading: #d35400;
  --font-color-christmas_message: violet;
  --lyrics-text-color: red;
  --yml-btn: #1abc9c;
  --rate-song-btn: #9400d3;
  --grey: black;
  font-family: "Roboto", sans-serif;
  --bg-image: url("/images/dark-bg.png");
}

/* Body */

/* Needs editing, the christmastree images need to be called in a div not in the BODY */

body {
  user-select: none;
  /* Normal (chrome)*/
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  align-items: center;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left bottom;
  background-color: var(--bg-color);
  background: var(--bg-image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Headings, etc */

.heading {
  color: var(--font-color-red);
  font-family: "Redressed", cursive;
}

.ludsocials-heading {
  color: var(--ludsocials-color-heading);
  font-family: "Redressed", cursive;
}

.lyrics-heading {
  color: var(--font-color-heading);
}

.lud {
  color: var(--font-color-heading2);
}

.lud2 {
  color: var(--font-color-sub-heading);
}

/* Icons on top of the website */
#spotify {
  color: #1db954;
}

#youtube {
  color: red;
}

#star {
  color: yellow;
}

#grey {
  color: var(--grey);
}

.christmas_day_message {
  display: none;
}

.christmas_day_message p {
  color: var(--font-color-christmas_message);
}

.new_years_message {
  display: none;
}
.new_years_message p {
  color: var(--font-color-sub-heading);
}

.otherprojects {
  color: var(--font-color-sub-heading);
  text-decoration: none;
}

.yml {
  color: var(--yml-btn);
  font-size: larger;
  text-decoration: underline;
  font-style: italic;
}

.rate-song {
  color: var(--rate-song-btn);
  text-decoration: none;
}

.lyrics-lud {
  color: var(--font-color-blue);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: inherit;
}

.songs {
  color: var(--font-color-blue);
  cursor: pointer;
}

.lud-socials {
  color: var(--ludsocials-color-blue);
}

.songs i {
  color: black;
}

.yml-videos {
  color: purple;
  font-weight: bold;
}

.random {
  /* This button is for the YML directory NOT the main page */
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );
  color: white;
  outline: none;
  border: none;
  font-family: "Handlee", cursive;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-top: 1rem;
}

.stop-btn-style{
  display:none;
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgb(255, 85, 0) 0%,
    rgb(173, 0, 0) 90%
  );
  color: white;
  outline: none;
  border: none;
  font-family: "Handlee", cursive;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-top: 1rem;
}

.suggest {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  color: white;
  outline: none;
  border: none;
  font-family: "Handlee", cursive;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-top: 1rem;
}

.report {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );

  color: white;
  outline: none;
  border: none;
  font-family: "Handlee", cursive;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-top: 1rem;
}

.button {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  /* Used in main page */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Handlee", cursive;
}

.button1 {
  background-image: linear-gradient(
    83.2deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  ); /* Dark Blue */
  /* Used in lyrics directory */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Handlee", cursive;
}

.socials-button {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Handlee", cursive;
}

.gallery-button {
  background-image: linear-gradient(
    180.4deg,
    rgba(188, 120, 236, 1) -2.2%,
    rgba(29, 133, 163, 1) 83.5%
  );
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Handlee", cursive;
}

.news-button {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Handlee", cursive;
}

.credits-button {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Handlee", cursive;
}

.lyrics {
  color: var(--lyrics-text-color);
}

#embed {
  display: none;
}

.socials {
  padding-bottom: 200px;
}

.social {
  margin: 10px;
  cursor: pointer;
}

.main-random-div {
  width: 100%;
  display: flex;
  margin-top: 0.8rem;
  justify-content: center;
}

.random-song-container {
  padding-right: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
}

#random-text-container {
  height: fit-content;
  width: fit-content;
  padding-bottom: 0.8rem;
  margin-left: 0.5rem;
}

.random {
  background-color: white;
  position: relative;
  align-self: center;
}

#random-btn-text {
  vertical-align: middle;
}


#header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#switch {
  position: absolute;
  right: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: url("./images/light.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Remove underline for links on buttons, etc
/* Other Projects link, remove underline on hyperlink */

.otherprojects a:link {
  text-decoration: none;
}

.otherprojects a:visited {
  text-decoration: none;
}

.otherprojects a:hover {
  text-decoration: none;
}

.songs a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.songs1 a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.duckyboi,
.githubtemplate {
  color: var(--font-color-blue);
  font-weight: normal;
}

.duckyboi a:link {
  text-decoration: none;
}

.duckyboi a:visited {
  text-decoration: none;
}

.duckyboi a:hover {
  text-decoration: none;
}

.githubtemplate a:link {
  text-decoration: none;
}

.githubtemplate a:visited {
  text-decoration: none;
}

.githubtemplate a:hover {
  text-decoration: none;
}

.yml a:link {
  text-decoration: none;
}

.yml a:visited {
  text-decoration: none;
}

.yml a:hover {
  text-decoration: none;
}

.rate a:link {
  text-decoration: none;
}

.rate a:visited {
  text-decoration: none;
}

.rate a:hover {
  text-decoration: none;
}

.random-song {
  color: #ffa500;
}
#random-button {
  color: black;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

#suggest-button {
  color: black;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

#report-button {
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

#report {
  color: red;
}

/* media queries */
@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
  }
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
  }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  body {
    width: 100%;
    height: 100%;
  }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  body {
    width: 100%;
    height: 100%;
  }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  body {
    width: 100%;
    height: 100%;
  }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: 100%;
    height: 100%;
  }
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: 100%;
    height: 100%;
  }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
  body {
    width: 100%;
    height: 100%;
  }
}