*{

  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/*display mobile when the browser window is 991px width or less*/

h3{
  border: 1px solid white;
  box-shadow: 6px 2px  2px rgba(0,0,0,0.15);
  width: 80%;
  height: 100px;
  padding: 30px;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  margin: auto;
  display: none;
  border-radius: 10px;
}

/* Song selector */
.select{
  height:50px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: black;
  margin: 5px;
  background-color: white;
}
/* rating section */
.rating{
  width: 100%;
  max-width: 300px;
  color: purple;
  background-color: black;

}
/* rating button */
.btn{
  margin-top: 1rem;
  height: 50px;
  width: 140px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px;
  color: white;
  font-weight: bolder;
  background-color: rgb(0,0,0);
  transform: scale(1);
  transition: 0.5s;

}
.btn:hover{
  background: #f5f5f5;
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}
/* when the size increases, moves to the right*/
@media screen and (max-width: 763px){
  body {
    width: 90vw;
    margin: 0;
    box-sizing: border-box;
  }
  main section {
    width: 90vw;
    height: fit-content;
  }
  #select-song {
    width: 200px;
    margin-left: -15%;
  }
}
