*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('photo1.jpeg');
  background-size: cover;
  width: 100%;
  display: column;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 100%;
}
main{
  margin-top:3em;
  width: 100%;
  display: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background: rgba(0,0,0, 0.9);
}
h1{
  text-align: center;
  margin: 1em;
  color: white;
  padding: 10px;
  font-weight: 800;
  font-size: xx-large;
  font-family: 'Poppins',sans-serif;
}
h3{
  border: ipx solid white;
  box-shadow: 6px 2px  2px rgba(0,0,0,0.15);
  width: 80%;
  height: 100px;
  padding: 30px;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  margin: auto;
  visibility: hidden;
  border-radius: 10px;
}
form{
  margin: auto;
  width: 70%;
  text-align: center;
}
label{
  font-family: 'Poppins', sans-serif
  
}
.select{
  height:50px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin: 5px;
  border: 1px solid white;
  background-color: black;
}
.rating{
  width: 300px;
  color: purple;

}
.btn{
  margin-top: 1rem;
  height: 50px;
  width: 140px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px;
  color: white;
  font-weight: bolder;
  background-color: rgb(0,0,0);
  transform: scale(1);
  transition: 0.5s;

}
.btn:hover{
  background: #f5f5f5;
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}
    /* for large screens */
@media screen and (min-width : 750px){
  body{
    background: url('./pink-wavy.jpg') no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main{
    width: 70%;
    height: 80vh;
    margin-top: 3em;
    background-color: white;
    border-radius: 10px;
  }
  h1{
    text-align: center;
    margin: 1em;
    color: black;
    padding: 10px;
    font-weight: 800;
    font-size: xx-large;
    font-family: 'Poppins',sans-serif;
  }
  .select{
    height:50px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: black;
    margin: 5px;
    border: 1px solid black;
    background-color: transparent;
  }
}