

/* CSS code for styling the form */

/* Style for the information header */
.info {
  margin-inline: 5%;
  color: rgb(99, 98, 98);
  text-align: center;
  font-size: 15px;
}

/* Style for the form */
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Style for the paragraphs inside the form */
p {
  color: deeppink;
}

/* Style for the 'You May Like' link */
.suggestions {
  color: deeppink;
  text-decoration: none;
}

/* Style for the 'You May Like' link container */
.suggestions {
  width: 100%;
  text-align: center;
  padding-right: 50px;
}

/* Style for the 'Requirements' link */
.requirements {
  text-decoration: none;
  padding-left: 5px;
  color: rgb(191, 40, 40);
}

/* Style for the 'Requirements' link */
.requirements:hover {
  text-decoration: none;
  color: rgb(191, 40, 40);
}

input{
  margin-top: 1%;
  padding: 0.5%;
  width: 40%;
}
button {
  background-color: green;
  width: 13%;
  padding: 1%;
  text-align: center;
  border-radius: 5px;
  color: aliceblue;
  margin-inline: auto;
  margin-top: 2%;
}
h1{
  margin-inline: 5%;
  text-align: center;
  color: rgb(191, 40, 40);
}