main .list .item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
main .list .item:last-of-type {
  border-bottom: none;
}
main .list .item:hover {
  background: rgba(0, 0, 0, 0.05);
}
/* page numbers list */
.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* page numbers buttons*/
.pagenumbers button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 1rem;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #A81817;
  margin: 5px;
  transition: 0.4s;
  color: #fff;
  border-radius: 2px;
  font-size: 20px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  background-color: #496C42;
}

.pagenumbers button.active {
  background-color: #496C42;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

#suggestions-message {
  color: #A81817;
}
/*songs and buttons*/
main {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
  margin-left: 0;
  padding-top: 5%;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1%;
  width: 40vw;
}

#buttons-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 30vh;
  width: 40vw;
  align-items: center;
  justify-content: center;
}

#credits {
  font-family: "Nunito";
  position: absolute;
  bottom: 5%;
  left: 5%;
}
#credits a {
  text-decoration: none;
  color: #A81817;
  font-family: "Nunito";
}
/* responsive */
@media screen and (max-width: 763px){
  .h1 {
    font-size: 20px;
  }
  main section {
    width: 90vw;
    height: fit-content;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  #buttons-section {
    display: flex;
    flex-direction: column;
    width: 70vw;

  }
  #buttons-section button {
    font-size: 18px;
  }
  #credits {
    top: 15vh;
  }
}