:root {
	--bg-color: white;
	--font-color-red: red;
	--font-color-blue: blue;
	--font-color-heading: #1ABC9C;
	--font-color-heading2: #1ABC9C;
	--font-color-sub-heading: violet;
	--font-color-christmas_message: violet;
}

.darkMode {
	--bg-color: #d9d9d9;
	--font-color-red: red;
	--font-color-blue: blue;
	--font-color-heading: lightgreen;
	--font-color-heading2: darkgreen;
	--font-color-sub-heading: violet;
	--font-color-christmas_message: purple;
}

body {
	align-items: center;
	text-align: center;
}

.heading {
	color: #1ABC9C;
}

.info {
	color: violet;
}

.otherprojects {
	color: violet;
	text-decoration: none;
}


/* Other Projects link, remove underline on hyperlink */

.otherprojects a:link {
	text-decoration: none;
}

.otherprojects a:visited {
	text-decoration: none;
}

.otherprojects a:hover {
	text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
	text-decoration: underline;
}

.duckyboi,
.githubtemplate {
	color: blue;
	font-weight: normal;
}

.duckyboi a:link {
	text-decoration: none;
}

.duckyboi a:visited {
	text-decoration: none;
}

.duckyboi a:hover {
	text-decoration: none;
}

.githubtemplate a:link {
	text-decoration: none;
}

.githubtemplate a:visited {
	text-decoration: none;
}

.githubtemplate a:hover {
	text-decoration: none;
}
