body {
	align-items: center;
	text-align: center;
	/* Block User Text Selection */
	user-select: none;
	/* Normal (chrome)*/
	-webkit-touch-callout: none;
	/* iOS Safari */
	;
	-webkit-user-select: none;
	/* Safari */
	;
	-khtml-user-select: none;
	/* Konqueror HTML */
	;
	-moz-user-select: none;
	/* Old versions of Firefox */
	;
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	;
}

.heading {
	color: #1ABC9C;
}

.info {
	color: violet;
	text-align: center;
	font-size: 16px;
}

.otherprojects {
	color: violet;
	text-decoration: none;
}


/* Other Projects link, remove underline on hyperlink */

.otherprojects a:link {
	text-decoration: none;
}

.otherprojects a:visited {
	text-decoration: none;
}

.otherprojects a:hover {
	text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
	text-decoration: underline;
}

.duckyboi,
.githubtemplate {
	color: blue;
	font-weight: normal;
}

.duckyboi a:link {
	text-decoration: none;
}

.duckyboi a:visited {
	text-decoration: none;
}

.duckyboi a:hover {
	text-decoration: none;
}

.githubtemplate a:link {
	text-decoration: none;
}

.githubtemplate a:visited {
	text-decoration: none;
}

.githubtemplate a:hover {
	text-decoration: none;
}
