.mogul-christmas-team {
  align-items: center;
  text-align: center;
}

.mogul-christmas-team h1 {
  color: blue;
}

a:visited{
  color:blue;
}

.mogul-christmas-team h3 {
  color: purple
}

.heading {
  color: #1ABC9C;
  align-items: center;
  text-align: center;
}

.subtext {
  color: red;
  align-items: center;
  text-align: center;
}
