/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");

html,
body {
  align-items: center;
  text-align: center;
}

h1 {
  color: blue;
  font-family: "Handlee", cursive;
}

a:visited {
  color: blue;
}

h3 {
  color: purple;
  font-family: "Handlee", cursive;
}

h2 {
  color: green;
}

.heading {
  color: #1abc9c;
  align-items: center;
  text-align: center;
  font-family: "Redressed", cursive;
}

.subtext {
  color: red;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.contributors embed {
  align-items: center;
}

.techstudent10-work {
  font-size: small;
}

.be-a-contributor {
  color: red;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

.commits {
  color: red;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

.commits a {
  color: red;
}

.thank-you {
  color: purple;
  font-family: "Beau Rivage", cursive;
  font-size: 9mm;
}
